body{
    margin: 0px;
    font-family: Arial;
}
.flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;


    height: 100%;
    text-align: center;
}
.flex-center {
}

#time{
    font-size: 50px;
}

.reminder-homescreen{
    position: absolute;
    top: 0; left: 0; right: 0;
    background-color: #6cc7e4;
    color: white;
    padding: 0px 10px;
}



@media all and (display-mode: standalone) {
    .reminder-homescreen {
      display: none;
    }
  }