body{
    font-family: Arial;
}
.flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;


    height: 100%;
    text-align: center;
}
.flex-center {
    max-width: 50%;
}